<html>
  <head>
  </head>
  <body>
    <h1>Caesar Cipher</h1>
    <form>
      <p>Enter Message---->: <input type='text' name='message' value=<%= message %> />
      </p>
      <p>Enter Shift number: <input type='text' name='shift' value=<%= shift_str %> />
      </p>
      <p><input type='submit' value='Encode' /></p>
    </form>
    <p>Output: <%= output %></p>
  </body>
</html>
